* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.content_wrapper {
  @extend .dflex;
  width: 100%;
  height: calc(100vh - 60px);
}
header {
  @extend .dflex;
  justify-content: flex-end;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 50px;
  .menu {
    width: 58px;
    height: 58px;
    @extend .dflex;
    cursor: pointer;
  }
}
.menu_container {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  @extend .dflex;
  flex-direction: column;
  a {
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    height: 80px;
    overflow: hidden;
    font-size: 2vw;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    text-transform: uppercase;
  }

  .btn_close {
    @extend .dflex;
    width: 58px;
    height: 58px;
    background-color: #fff;
    color: #000;
    border-radius: 58px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    font-size: 18px;
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 7vh;
  background-color: black;
  align-items: center;
  &__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    img {
      height: 90%;
      width: 15%;
    }
  }
  &__menu {
    position: relative;
    z-index: 10;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    &__burger {
      position: absolute;
      width: 10%;
      transition: all 1s;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &--active {
        opacity: 1;
      }
    }
    &__cross {
      position: absolute;
      width: 10%;
      transition: all 1s;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &--active {
        opacity: 1;
      }
    }
  }
}
.fa-2x {
  font-size: 1.5em;
}
