.navbarDesktop {
  display: none; }

.dflex, .content_wrapper, header, header .menu, .menu_container, .menu_container .btn_close {
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column; }

.content_wrapper {
  width: 100%;
  height: calc(100vh - 60px); }

header {
  justify-content: flex-end;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #bdbdbd;
  padding: 0 50px; }
  header .menu {
    width: 58px;
    height: 58px;
    cursor: pointer; }

.menu_container {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  flex-direction: column; }
  .menu_container a {
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    height: 80px;
    overflow: hidden;
    font-size: 2vw;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .menu_container a {
        font-size: 22px; } }
  .menu_container .btn_close {
    width: 58px;
    height: 58px;
    background-color: #fff;
    color: #000;
    border-radius: 58px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    font-size: 18px; }

.navbarMobile {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 7vh;
  background-color: black;
  align-items: center; }
  .navbarMobile__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5; }
    .navbarMobile__logo img {
      height: 90%;
      width: 15%; }
  .navbarMobile__menu {
    position: relative;
    z-index: 10;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%; }
    .navbarMobile__menu__burger {
      position: absolute;
      width: 10%;
      transition: all 1s;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbarMobile__menu__burger--active {
        opacity: 1; }
    .navbarMobile__menu__cross {
      position: absolute;
      width: 10%;
      transition: all 1s;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbarMobile__menu__cross--active {
        opacity: 1; }

.fa-2x {
  font-size: 1.5em; }
