@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap");
.navbarMobile {
  display: none; }

.navbarDesktop {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh; }
  .navbarDesktop__carro {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30%;
    width: calc(100% / 8);
    text-align: center; }
    .navbarDesktop__carro svg {
      display: inline-block;
      padding: 5%;
      height: 100%;
      width: 35%;
      transition: all 1s; }
      .navbarDesktop__carro svg path {
        fill: white; }
      .navbarDesktop__carro svg:hover {
        padding: 5%; }
  .navbarDesktop__logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 95%; }
    .navbarDesktop__logo img {
      object-fit: contain;
      height: 80%; }
    .navbarDesktop__logo__icon {
      transform-origin: top;
      transform: rotate(0deg);
      animation: pendulo 10s infinite backwards;
      height: 60%;
      width: 12%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative; }
      .navbarDesktop__logo__icon__linea {
        transform-origin: top;
        top: 0px;
        position: absolute;
        height: calc(100% / 1.7);
        width: 0.5%;
        background-color: #cfffb9;
        transform: rotate(30deg); }
        .navbarDesktop__logo__icon__linea:after {
          content: "";
          transform-origin: top;
          top: 0px;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #cfffb9;
          transform: rotate(300deg); }
      .navbarDesktop__logo__icon__cartel {
        border: 1.55px solid #cfffb9;
        border-radius: 20px;
        height: 50%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 8px #01d501, 0 0 8px #01d501, inset 0 0 8px #01d501, inset 0 0 8px #01d501;
        animation: parpadeo 3s infinite;
        animation-timing-function: cubic-bezier(0.91, 1.39, 0, -0.47); }
        .navbarDesktop__logo__icon__cartel h1 {
          font-size: large;
          font-family: "DM Serif Text", serif;
          color: #cfffb9;
          text-shadow: 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501;
          animation: parpadeo 3s infinite;
          animation-timing-function: cubic-bezier(0.91, 1.39, 0, -0.47); }
  .navbarDesktop__lista {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 60%; }
    .navbarDesktop__lista li {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: calc(100% / 5);
      height: 100%;
      transition: all 1.5s; }
      .navbarDesktop__lista li h3 {
        color: white;
        font-size: medium;
        font-family: "Antonio", sans-serif;
        letter-spacing: 3px; }
      .navbarDesktop__lista li div {
        background-color: #03a403;
        height: 1.5%;
        width: 0%;
        border-radius: 15px;
        position: absolute;
        bottom: 20%;
        transition: all ease-out 1.25s;
        opacity: 0; }
      .navbarDesktop__lista li:hover {
        opacity: 1; }
        .navbarDesktop__lista li:hover > div {
          opacity: 1;
          width: 60%;
          box-shadow: 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501; }

@keyframes pendulo {
  0% {
    transform: rotate(-15deg); }
  25% {
    transform: rotate(15deg); }
  50% {
    transform: rotate(-15deg); }
  75% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(-15deg); } }

@keyframes parpadeo {
  to {
    text-shadow: none;
    box-shadow: none; } }
