.main {
  height: auto; }
  .main__section {
    width: 80%;
    height: 50%;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501; }
