@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none; }

.aside {
  margin: 0% 2%;
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  flex-wrap: wrap; }
  .aside__section {
    position: relative;
    display: inline-block;
    width: calc(90% / 3);
    height: calc(90% / 2);
    text-align: center;
    overflow: hidden;
    transition: 1s all; }
    .aside__section__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 750ms all; }
    .aside__section__container {
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: 750ms all ease-out;
      visibility: hidden; }
    .aside__section__title {
      color: white;
      text-shadow: 2px 2px #1d1c1c;
      position: absolute;
      top: 45%;
      width: 100%; }
    .aside__section:hover > .aside__section__container {
      visibility: visible;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5); }
    .aside__section:hover > .aside__section__img {
      transform: scale(1.3); }

@media screen and (max-width: 850px) {
  .navbarDesktop {
    display: none; }
  .dflex, .content_wrapper, header, header .menu, .menu_container, .menu_container .btn_close {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column; }
  .content_wrapper {
    width: 100%;
    height: calc(100vh - 60px); }
  header {
    justify-content: flex-end;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #bdbdbd;
    padding: 0 50px; }
    header .menu {
      width: 58px;
      height: 58px;
      cursor: pointer; }
  .menu_container {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    flex-direction: column; }
    .menu_container a {
      display: inline-flex;
      color: #fff;
      text-decoration: none;
      height: 80px;
      overflow: hidden;
      font-size: 2vw;
      text-transform: uppercase; } }
    @media screen and (max-width: 850px) and (max-width: 768px) {
      .menu_container a {
        font-size: 22px; } }

@media screen and (max-width: 850px) {
    .menu_container .btn_close {
      width: 58px;
      height: 58px;
      background-color: #fff;
      color: #000;
      border-radius: 58px;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
      cursor: pointer;
      font-size: 18px; }
  .navbarMobile {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 7vh;
    background-color: black;
    align-items: center; }
    .navbarMobile__logo {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5; }
      .navbarMobile__logo img {
        height: 90%;
        width: 15%; }
    .navbarMobile__menu {
      position: relative;
      z-index: 10;
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 5%; }
      .navbarMobile__menu__burger {
        position: absolute;
        width: 10%;
        transition: all 1s;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
        .navbarMobile__menu__burger--active {
          opacity: 1; }
      .navbarMobile__menu__cross {
        position: absolute;
        width: 10%;
        transition: all 1s;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
        .navbarMobile__menu__cross--active {
          opacity: 1; }
  .fa-2x {
    font-size: 1.5em; } }

@media screen and (min-width: 851px) {
  .navbarMobile {
    display: none; }
  .navbarDesktop {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh; }
    .navbarDesktop__logo {
      display: flex;
      align-items: center;
      height: 70%;
      width: 45%; }
      .navbarDesktop__logo img {
        object-fit: contain;
        width: 100%;
        height: 80%; }
    .navbarDesktop__lista {
      height: 30%;
      width: 100%; }
      .navbarDesktop__lista li {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 5);
        height: 100%;
        transition: all 1.5s; }
        .navbarDesktop__lista li h3 {
          color: #01d501;
          font-size: large;
          font-family: "Antonio", sans-serif;
          letter-spacing: 3px; }
        .navbarDesktop__lista li div {
          background-color: #03a403;
          height: 1.5%;
          width: 0%;
          border-radius: 15px;
          position: absolute;
          bottom: 20%;
          transition: all ease-out 1.25s;
          opacity: 0; }
        .navbarDesktop__lista li:hover {
          opacity: 1; }
          .navbarDesktop__lista li:hover > div {
            opacity: 1;
            width: 60%;
            box-shadow: 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501, 0 0 8px #01d501; } }
